.header-container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .header-image {
    width: 100%;
    height: auto;
    filter: brightness(70%); /* Para oscurecer un poco la imagen si lo deseas */
  }
   
  .header-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .header-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  p a {
    color: white;
    text-decoration: none; /* Elimina el subrayado si no lo deseas */
    transition: color 0.3s ease-in-out; /* Transición suave al hacer hover */
  }
  
  p a:hover {
    color: #62d0f3; /* Cambia a un color diferente al pasar el ratón, opcional */
  }
  
  
  .video-consultation-btn {
    background-color: #62d0f3; /* Color azul de botón */
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .video-consultation-btn:hover {
    background-color: #4bb8d6; /* Efecto hover */
}







.login-container {
	text-align: center;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	max-width: 400px;
	margin: 0 auto;
  }

  
  .input-group {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%; /* Ajusta el ancho según lo necesites */
    margin-bottom: 15px;
    border-radius: 20px; /* Aplica el borde redondeado */
    overflow: hidden; /* Para asegurarse de que el contenido no sobresalga */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra ligera */
  }
  
  .input-group input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 20px; /* Redondea los bordes del input */
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .input-group input:focus {
    border-color: #62d0f3; /* Cambia el color del borde al hacer foco */
    box-shadow: 0 0 5px rgba(98, 208, 243, 0.5); /* Sombra al hacer foco */
  }
  
  .input-group label {
    position: absolute;
    top: -8px;
    left: 15px;
    font-size: 0.9rem;
    color: #999;
    transition: all 0.2s ease-in-out;
  }
  
  .input-group input:focus + label {
    top: -25px;
    left: 10px;
    color: #62d0f3; /* Color del label cuando el input tiene foco */
    font-size: 0.75rem;
  }
  
  
  
  button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

  .eye-icon {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
  